section {
  margin: 0 auto;
  background-color: #b9d5db;
  height: 600px;
  width: 80%;
  margin-top: 20px;
}

section > h1 {
  text-align: center;
}

.last {
  margin-bottom: 20px;
}

.section-todo {
  background-image: radial-gradient(#979ced, #0f1b55);
}

/* ----------------------------------- */
/* BASIC SETUP */
/* ----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
  color: #555;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}



/* ----------------------------------- */
/* HEADER */
/* ----------------------------------- */

header {
  background-image: linear-gradient(rgba(35, 34, 92, 0.8), rgba(35, 34, 92, 0.8)) ,url(header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.header-text {
  position: absolute;
  width: 900px;
  top: 25%;
  left: 10%;
}

.header-text p {
  margin-top: 30px;
  color: #dedede;
}

/* ----------------------------------- */
/* NAV BAR */
/* ----------------------------------- */

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding-top: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* ----------------------------------- */
/* FOOTER */
/* ----------------------------------- */

footer {
  height: 150px;
  background-color: #121d1f;
  clear: both;
  padding: 30px 100px;
}

.footer-links {
  list-style: none;
  float: left;
}


footer p {
  clear: both;
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
}

.footer-links li,
.footer-icons li {
  display: inline-block;
}

.footer-links a:link,
.footer-links a:visited,
.footer-icons a:link,
.footer-icons a:visited {
  color: #868686;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.5s;
}

.footer-links a {
  font-size: 15px;
}
