.container-todo {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  width: 350px;
  margin: 100px auto;
}

.done {
  color: gray;
  text-decoration: line-through;
}

.plus {
  float: right;
}

.del {
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.li-todo:hover span {
  width: 40px;
  opacity: 1.0;
}

.h1-todo {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.ul-todo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li-todo {
   background-color: #fff;
   height: 40px;
   line-height: 40px;
   color: #666;
}

.li-todo:nth-child(2n) {
  background-color: #f7f7f7;
}

.input-todo {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border: 3px  solid rgba(0, 0, 0, 0);
}

.input-todo:focus {
  background-color: white;
  border: 3px solid #2980b9;
  outline: none;
}
