/* ----------------------------------- */
/* BASIC SETUP */
/* ----------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #555;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------- */
/* HEADER */
/* ----------------------------------- */

header {
  background-image: linear-gradient(rgba(35, 34, 92, 0.8), rgba(35, 34, 92, 0.8)) ,url(header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.header-text {
  position: absolute;
  width: 900px;
  top: 25%;
  left: 10%;
}

.header-text p {
  margin-top: 30px;
  color: #dedede;
}

h1 {
  font-family: 'Josefin Sans';
  margin: 0;
  color: #dedede;
  font-size: 240%;
  text-transform: uppercase;
}

.btn-header:link,
.btn-header:visited {
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 1px;
  transition: all 0.3s;
  text-align: center;
  width: 170px;
}

.btn-header span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-header span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-header:hover span {
  padding-right: 25px;
}

.btn-header:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-header:hover {
  background-color: #101b1d;
}
/*
 NAVBAR

.btn-main {
  float: left;
  color: #f4f5f6;
  padding-left: 5%;

}

.btn-second {
  float: right;
  list-style: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 70%;
  padding-right: 5%;
}

.btn-second li {
  display: inline-block;
  margin-right: 30px;
}

nav {
  background-color: #121d1f;
  padding: 25px;
}

nav a {
  text-decoration: none;
  color: #f4f5f6;
  letter-spacing: 1px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #121d1f;
  padding: 25px;
  z-index: 9999;
  box-shadow: 0 2px 2px #d2d2d2;
*/


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/* ----------------------------------- */
/* PHOTOS */
/* ----------------------------------- */

.section-photo {
  padding: 0;
  clear: both;
}

.photo-showcase {
  margin: 30px auto;
  list-style: none;
  width: 70%;
}

.photo-showcase li {
  display: block;
  float: left;
  width: 33%;
}

.foto {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}

.foto img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: 0.3s;
}

.foto img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* ----------------------------------- */
/* FOOTER */
/* ----------------------------------- */

footer {
  height: 150px;
  background-color: #121d1f;
  clear: both;
  padding: 30px 100px;
}

.footer-links {
  list-style: none;
  float: left;
}

.footer-icons {
  list-style: none;
  float: right;
}

footer p {
  clear: both;
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
}

.footer-links li,
.footer-icons li {
  display: inline-block;
}

.footer-links a:link,
.footer-links a:visited,
.footer-icons a:link,
.footer-icons a:visited {
  color: #868686;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.5s;
}

.footer-icons a {
  font-size: 20px;
}

.footer-links a {
  font-size: 15px;
}

.fa-heart {
  color: #d32f2f;
}

.footer-links a:hover {
  color: #c1c1c1;
}

.fa-facebook-square:hover {
  color: #3b5999;
}

.fa-instagram:hover {
  color: #e4405f;
}

.fa-github-square:hover {
  color: #4c75a3;
}

.fa-dribbble-square:hover {
  color: #ea4c89;
}
