::selection {
    background: #2c3e50; /* Safari */
    color: #2f2f2f;
}
::-moz-selection {
    background: #2c3e50; /* Firefox */
    color: #2f2f2f;
}
.cbp:after,
.cbp-lazyload:after,
.cbp-popup-loadingBox:after,
.cbp-popup-singlePageInline:after {
    border-top: 3px solid #34495e;
}
.lg-outer .lg-item:after {
    border-top: 3px solid #34495e;
}
a {
    color: #34495e;
}
a.line:hover {
    border-bottom: 1px solid #34495e;
}
a:hover,
a:focus {
    color: #34495e;
}
.nocolor:hover,
.email-link:hover,
footer a:hover {
    color: #34495e !important
}
ul.circled li:before {
    color: #34495e;
}
blockquote {
    border-left: 3px solid #34495e;
}
.btn {
    background: #34495e;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #db864e !important;
}
.tooltip-inner {
    background-color: #34495e;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #34495e
}
.tooltip.right .tooltip-arrow {
    border-right-color: #34495e
}
.tooltip.left .tooltip-arrow {
    border-left-color: #34495e
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #34495e
}
.progress.plain .bar {
    background: #34495e !important
}
.vanilla-form input[type="radio"]:focus + span,
.vanilla-form input[type="checkbox"]:focus + span,
.vanilla-form input[type="radio"]:active + span,
.vanilla-form input[type="checkbox"]:active + span {
    border-color: #34495e
}
.vanilla-form input[type="radio"] + span::after {
    background-color: #34495e;
    border-color: #34495e;
}
.vanilla-form input[type="radio"]:checked + span,
.vanilla-form input[type="checkbox"]:checked + span {
    border: 1px solid #34495e
}
.vanilla-form input[type="checkbox"] + span::after {
    border: 0 solid #34495e;
}
.social li i.fa-facebook-f:hover {
    color: #3b5999 !important;
}

.social li i:fa-instagram {
    color: #e4405f !important;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item.active:hover {
    border-color: #34495e
}